
body {
  /* font-family: 'Graphik Arts', sans-serif; */
}
footer{
  font-family: 'Graphik Arts', sans-serif;
}

.header {
  transform: 0.6s;
  z-index: 1000;
  width: 100%;
 
}
.sticky-top{
  background-image: url("./img/backgroud.png");
  height: 927px;
  object-fit: cover;
  background-repeat: round;

}
.image img {
  width: 77px;
  height: 40px;
}
.icon{
  padding: 20px;
}

.nabbar {
  margin-left: 30px;
  margin-right: 30px;
}
.nav-menu_right > ul > li,
.nav-menu a {
  display: inline-block;
}
.nav-menu_right ul {
  margin-bottom: 0;
}
.nav-menu_right ul li {
  padding: 10px 14px;
}
.nav-menu_right ul li img
{
  margin-left: 200px;
}
.nav-menu_right a {
  width: 65px;
  height: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}
.nav-menu_right li a:hover {
  border-bottom: 3px solid #00daff;
  padding-bottom: 6px;
}
.header-content{
  text-align: center;
  margin-top: 160px;
  
}
.header-content h1{
  color: #fff;
  font-size: 74px;
  margin-top: 25px;
}
.header-content p{
  color: #fff;
  font-size: 28px;

}


button {
  text-align: center;
  width: 147px;
  height: 48px;
  color: #fff;
  background-color: #2091F9;
  border: 2px solid #2091F9;
  box-sizing: border-box;
  border-radius: 52px;
  margin-top: 105px;
}
input{
  width: 147px;
  height: 48px;
  border-radius: 52px;
  border: 2px solid black;
  text-align: center;

}


.accordion-buttons {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  padding: 0px 20px;
  margin-top: 10px;
}
.accordion-header {
  padding: 10px;
}
.accordion-button {
  padding: 0.4rem 1.25rem;
}
.offcanvas-body {
  padding: 0;
  margin-top: 34px;
}
/*nabMobile*/
.offcanvas-end {
  width: 320px;
}
.navbar-mobile {
  display: none;
}

ul.nav-mobile {
  list-style: none;
}
ul.nav-mobile li {
  padding: 10px 3px;
}
ul.nav-mobile li a {
  width: 91px;
  height: 27px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #25282b;
  text-decoration: none;
}

ul.menu-mobile-nav li {
  padding-top: 12px;
}
ul.menu-mobile-nav li a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #52575c;
}

.nav-mobile li a:hover {
  border-bottom: 3px solid #00daff;
  padding-bottom: 6px;
}
.offcanvas-header,
#offcanvasRight {
  background: #f4f6fa;
}

/*end nabMobile*/
.container .main-feature{
  margin-top: 100px;
}


.feature-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.feature-content h2{
  font-family: "Graphik";
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;
color: #374754;

}
.feature-content h4{

font-family: "Graphik";
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 40px;
color: #374754;
}
.feature-item{
  display: flex;
  flex-direction: row;
}
.item-child{
  text-align: center;
  margin-top: 90px;
 
}
.item-child .icon{
  font-size: 50px;
}
.video{
  border-radius: 40px;
  margin-top: 130px;
}

.main-desktop{
  display: flex;
  float: left;
  align-items: center;
  margin-top: 220px;
}
.main-sub{
  display: flex;
  float: left;
  align-items: center;
  margin-top: 220px;
}
.main-sub-content{
  margin-left: 50px;
}
.partners{
  
  margin-top: 1500px;
  

}
.text-content{
  text-align: center;
}
.testimonials{
  /* display: flex; */
  flex-direction: column;
  text-align: center;
  margin-top: 110px;
}
.testimonials .ibm{
  width: 150px;
  height: 60px;
  align-self: center;
  margin-top: 90px;
  margin-bottom: 60px;
}
.testimonials-item{
  display: flex;
  /* float: left; */
  align-self: center;
  justify-content: center;
  margin-top: 40px;

}
.testimonials-item img{
  width: 50px;
  height: 50px;

}
.testimonials button{
  align-self: center;
  margin-top: 40px;
  height: 65px;
}
.pricing{
  color: #fff;
  background-color: #252B42;
  text-align: center;
  margin-top: 110px;
}
.pricing .content{
  margin-top: 110px;
}
.pricing img{
  margin-top: 90px;
}
.contact{
  margin: 60px 0;
}
.contact-map {
  display: flex;
  flex-direction: column;
}
.contact-icon{
  display: flex;
}



.contact-form button {
  text-align: center;
  width: 147px;
  height: 48px;
  color: #fff;
  background-color: #2091F9;
  border: 2px solid #2091F9;
  box-sizing: border-box;
  border-radius: 52px;
  margin-top: 105px;
}
.contact-form input{
  width: 353px;
  margin: 20px;
  border: 1px solid #E8E8E8;
box-sizing: border-box;
}
.contact-form .mess{
  width: 353px;
height: 193px;
}
.contact-content{
  text-align: center;
  margin:90px 0;
}
.contact-content-form{
  display: flex;
  flex-direction: row;
  margin-right: 20px;

}
.content-tag
{
  display: flex;
  justify-content: center;
  height: 607px;
}
.tag-header
{
  color: #212529;
  text-align: center;
  padding: 10px 50px;
}
.card
{
  padding: 10px;
}
.tag-row
{
  display: flex;
  color: #212529;
  justify-content: center;
  padding: 10px;
}
.tag-button
{
  padding: 10px;
  align-items: center;
  margin: auto 0;
}
.tag-button button
{
  border-radius: 35px;
}
.contact-form{
  display: flex;
  flex-direction: column;
  width: 453px;
  height: 669px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  margin-right: 20px;
}
.map{
  margin-bottom: 20px;
}




@media all and (max-width: 576px) {
  .header .nabbar{
    display: none;
  }
  .header-content h1{
    font-size: 48px;
  }
  .header-content p{
    font-size: 28px;
  }
  .main-feature{
    display: flex;
  }
  .feature-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .feature-item .item-child{
    width: 90%;
    text-align: center;
  }
  .feature-video{
    display: none;
  }
  .main-desktop{
    display: flex;
    flex-direction: column;
  }
  .main-destop-content{
    text-align: center;
  }
  .main-destop-img img{
    width: 290px;
  }
  .main-sub{
    display: flex;
    flex-direction: column-reverse;
  }
  .main-sub-img img{
    width: 300px;
    height: 250px;
  }
  .main-sub-content .button{
    display: flex;
    flex-direction: column;
  }
  .pricing img{
    width: 100%;
  }
  .partners{
    margin-top: 30px;
    flex-direction: column;
  }
  
  .partners .item-img{
    width: 100%;
    margin-top: 30px;
  }
  .contact-map{
    display: none
  }
  .contact-form{
    width: 100%;
    align-items: center;
  }
  .contact-form input{
    width: 90%;
  }
  .contact-form .mess{
    width: 90%;
  }
  .container .footer{
    padding-top: 30px;
  }
   .footer{
    
    background-color: #252B42;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
  .left{
    display: flex;
    flex-direction: column;
  }
  .content-tag
  {
    display: none;
  }
}

